body {
    font-family: Arial, sans-serif;
    background: #e0f7fa;
    padding: 2rem;
    text-align: center;
}

#previsao5dias {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.dia-previsao {
    background: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#tempo{
    display: flex;
    flex-direction: column; /* coloca os elementos um embaixo do outro */
    align-items: center;    /* centraliza o conteúdo */
}